:root {
    --bg: black;
    --shadow: rgb(24, 148, 24);
    --text_color: #077a12;
    --after_hover: #15c924;
    --white_shade: white;
    --book_card: rgba(24, 148, 24, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg);
}

html {
    scroll-behavior: smooth;
}

header {
    background: var(--bg);
    padding: 15px 5%;
    box-shadow: 0 2px 15px var(--shadow);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--after_hover);
    letter-spacing: -0.5px;
}

.nav-links {
    display: flex;
    gap: 28px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text_color);
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
}

.nav-links a:hover {
    color: var(--after_hover);
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--after_hover);
    bottom: -4px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.hero_section {
    position: relative;
    width: 100%;
    min-height: 450px;
    padding: 80px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(heroimage.jpeg) center/cover no-repeat;
    isolation: isolate;
    /* Creates boundary. So z-index:-1 in ::before doesn't disappear behind body */
    border-bottom: 1px solid var(--book_card);
}

.hero_section::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
    /* Push this black layer behind your text but, because of isolate, it stays INSIDE hero, not behind page */
}

.hero_section h1 {
    color: var(--after_hover);
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 15px;
    text-shadow: 0 0 25px var(--text_color);
}

.hero_section p {
    color: var(--white_shade);
    font-size: 18px;
    max-width: 600px;
}

#quote {
    font-style: italic;
    color: var(--text_color);
    margin-top: 12px;
    font-size: 16px;
}

.search_box {
    position: relative;
    width: 100%;
    max-width: 550px;
    margin-top: 35px;
}

.search_box input {
    width: 100%;
    padding: 16px 130px 16px 22px;
    background: var(--bg);
    border: 1px solid var(--text_color);
    border-radius: 50px;
    color: var(--white_shade);
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.search_box input::placeholder {
    color: var(--text_color);
    opacity: 0.6;
}

.search_box input:focus {
    border-color: var(--after_hover);
    box-shadow: 0 0 15px var(--shadow);
}

.search_box button {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0 28px;
    background: var(--text_color);
    color: var(--white_shade);
    border: none;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.search_box button:hover {
    background: var(--after_hover);
    box-shadow: 0 0 15px var(--shadow);
}

.featured-books {
    padding: 70px 5%;
    background: var(--bg);
    text-align: center;
}

.featured-books h2 {
    color: var(--after_hover);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-description {
    color: var(--text_color);
    opacity: 0.8;
    font-size: 16px;
    margin-bottom: 40px;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /*repeat that logic for all cards automatically fit as many cards as possible in one row based on that, min sizeminmax(260px, 1fr)
    = each card can be minimum 260px wide, maximum 1fr (take all free space)*/
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.favourites-container .book-card {
    background: #0e0e0e;
    border: 1px solid rgba(24, 148, 24, 0.2);
    border-radius: 16px;
    padding: 20px;
    transition: all 0.3s ease;
}

.favourites-container .book-card:hover {
    border-color: var(--text_color);
    box-shadow: 0 0 20px rgba(24, 148, 24, 0.2);
    transform: translateY(-6px);
}

.book-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.book-card h3 {
    color: var(--white_shade);
    font-size: 18px;
    margin-bottom: 5px;
}

.book-card .author {
    color: var(--text_color);
    font-size: 14px;
    margin-bottom: 18px;
    opacity: 0.8;
}

.save-btn,
.fav-btn {
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 8px;
}

.save-btn {
    background: var(--text_color);
    color: var(--white_shade);
    border: 1px solid var(--text_color);
}

.save-btn:hover {
    background: var(--after_hover);
    box-shadow: 0 0 12px var(--shadow);
}

.fav-btn {
    background: transparent;
    color: var(--text_color);
    border: 1px solid var(--text_color);
}

.fav-btn:hover {
    background: var(--book_card);
    color: var(--after_hover);
    border-color: var(--after_hover);
}

footer {
    background: var(--bg);
    color: var(--white_shade);
    padding: 50px;
    box-shadow: 0 -3px 15px var(--shadow);
}

.footer-section h2 {
    color: var(--text_color);
    font-size: 25px;
    margin-bottom: 15px;
}

.footer-section h3 {
    color: var(--text_color);
    font-size: 19px;
    margin-bottom: 18px;
}

.footer-section p {
    color: var(--white_shade);
    margin-bottom: 10px;
}

.footer-bottom {
    margin: 40px auto auto 0;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid var(--text_color);
}

.footer-bottom p {
    color: var(--white_shade);
    font-size: 14px;
}

.favourites-section {
    padding: 70px 5%;
    background: var(--bg);
    text-align: center;
    border-top: 1px solid var(--book_card);
}

.favourites-section h2 {
    color: var(--after_hover);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.favourites-section .section-description {
    color: var(--text_color);
    opacity: 0.8;
    font-size: 16px;
    margin-bottom: 40px;
}
.favourites-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.library-section {
    padding: 70px 5%;
    background: var(--bg);
    text-align: center;
    border-top: 1px solid var(--book_card);
}
.library-section h2 {
    color: var(--after_hover);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

.library-section .section-description {
    color: var(--text_color);
    opacity: 0.8;
    font-size: 16px;
    margin-bottom: 40px;
}
.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 700px) {
    nav {
        flex-direction: column;
        gap: 12px;
    }

    .nav-links {
        gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero_section {
        min-height: 400px;
        padding: 60px 5%;
    }
}